TowerDefensePrototype/TowerDefensePrototype/bin/
.vs/
TowerDefensePrototype/TowerDefensePrototype/obj/
GameDataTypes/obj/
GameDataTypes/bin/
TowerDefensePrototype/TowerDefensePrototype/TowerDefensePrototype/obj/
TowerDefensePrototype/GameDataTypes/obj/
TowerDefensePrototype/GameDataTypes/bin/
TowerDefensePrototype/TowerDefensePrototype/TowerDefensePrototype/bin/
TowerDefensePrototype/TowerDefensePrototypeContent/Sounds/Menu/MenuMusic1.wav
TowerDefensePrototype/TowerDefensePrototypeContent/obj
TowerDefensePrototype/TowerDefensePrototypeContent/bin